 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    /* Navbar */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 40px;
      background: #fff;
      border-bottom: 1px solid #eee;
    }
   a{
    text-decoration: none;
    color: #000;
   }
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .logo img {
      height: 35px;
    }

    .location {
      font-size: 14px;
      color: #333;
    }

    .location span {
      font-weight: bold;
      margin-right: 5px;
    }

    .navbar-right {
      display: flex;
      align-items: center;
      gap: 25px;
      font-size: 15px;
      color: #222;
    }

    .navbar-right div {
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
    }

    .navbar-right div span {
      font-weight: bold;
    }

    .cart {
      display: flex;
      align-items: center;
      gap: 6px;
      font-weight: bold;
      cursor: pointer;
    }

    .cart-badge {
      background: #48c479;
      color: white;
      font-size: 12px;
      font-weight: bold;
      padding: 1px 6px;
      border-radius: 4px;
    }





.ct {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background: #f4f4f4;
    }

    h1{
        margin-left: 40px;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      padding-top: 20px;
    }

    .card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      overflow: hidden;
      transition: transform 0.2s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }

    .card-content {
      padding: 15px;
      text-align: center;
    }

    .card h3 {
      font-size: 16px;
      margin: 10px 0;
      color: black;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
    }

    .btn {
      padding: 8px 15px;
      border: none;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.3s;
    }

    .cart-btn {
      background: #ff9800;
      color: white;
    }

    .cart-btn:hover {
      background: #e68900;
    }

    .order-btn {
      background: #4CAF50;
      color: white;
    }

    .order-btn:hover {
      background: #3d9140;
    }



  .ct2 {
      font-family: Arial, sans-serif;
      margin: 0;
      padding-top: 25px;
      background: #f4f4f4;
    }

    .container2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    
    }