
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ff5200;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #ff5200;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.btn-outline {
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-black {
  background-color: black;
  padding: 6px 14px;
  border-radius: 6px;
  color: white;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  position: relative;
  text-align: center;
  gap: 30px;
}

.hero-img-left{
  width: 180px;
  height: auto;
  border-radius: px;
}
.hero-img-right {
  width: 180px;
  height: auto;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.search-area input {
  padding: 12px;
  margin: 10px;
  width: 280px;
  border: none;
  border-radius: 8px;
}



 .bo {
      background: #fff;
      color: #222;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 20px;
    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;
      text-align: center;
    }

    .food-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 30px;
      width: 100%;
      max-width: 900px;
      
    }

    .food-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s ease;
      cursor: pointer;
    }

    .food-item img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      margin-bottom: 10px;
      transition: transform 0.3s ease;
    }

    .food-item p {
      font-size: 15px;
      font-weight: 500;
      text-align: center;
    }

    .food-item:hover {
      transform: scale(1.05);
    }