<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        {% block title %}
          base
        {% endblock  %}
    </title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar2.css'%}">
    {% block css %}

    {% endblock %}

</head>
<body>

  <header>
    <div class="logo1"> 
      <img src="{% static 'image/swiggylogo2.png'%}" alt="Swiggy Logo" height="45px" width="150px">
      <!-- <span>Swiggy</span> -->
    </div>
    <nav>
      <a class="active" href="">About Swiggy</a>
      <a href="{% url 'Our_Businesses' %}">Our Businesses</a>
      <a href="#">Delivering For Everyone</a>
      <a href="#">Newsroom</a>
      <a href="#">Investor Relations</a>
      <a href="#">Sustainability</a>
      <a href="#">Contact Us</a>
    </nav>
  </header>

  <section class="about">
    <h1>ABOUT US</h1>
    <p>Swiggy is a new-age consumer-first organization offering an easy-to-use convenience platform, accessible through a unified app.</p>
    
    <div class="services">
      <div class="servic">
        <img src="{% static 'image/food.webp'%}" alt="Food" height="180px" width="180px">
      </div>
      <div class="servic">
        <img src="{% static 'image/instamart.webp'%}" alt="Instamart" height="180px" width="180px">
      </div>
      <div class="servic">
        <img src="{% static 'image/dineout.webp'%}" alt="Dineout" height="180px" width="180px">
      </div>
    </div>

    <div class="swiggy-icon">
      <img src="{% static 'image/swiggysign.webp'%}" alt="Swiggy Icon">
    </div>
  </section>
  
  <div class="container">

    <!-- Heading with orange lines -->
    <div class="heading">
      <div class="line"></div>
      <h1>IPO DELIVERED – NOVEMBER 2025</h1>
      <div class="line"></div>
    </div>

    <!-- Video Box -->
    <div class="video-box">
      <video controls>
        <source src="{% static 'Video/Video.mp4'%}" type="video/mp4" >
        Your browser does not support the video tag.
      </video>
    </div>


     <section class="about-section">
    <!-- Title -->
    <div class="section-title">
      <div class="line"></div>
      <h2>GET TO KNOW US</h2>
      <div class="line"></div>
    </div>

    <!-- Content Grid -->
    <div class="about-container">

      <!-- Left Tabs -->
      <div class="tabs">
        <div class="tab active">Mission <span class="arrow">→</span></div>
        <hr>
        <div class="tab">Vision</div>
        <hr>
        <div class="tab">Values</div>
      </div>

      <!-- Middle Content -->
      <div class="content">
        <p>
          Our mission is to elevate the quality of life of the urban consumer by offering
          unparalleled convenience. Convenience is what makes us tick. Its what makes us
          get out of bed and say, “Lets do this.”
        </p>
      </div>

      <!-- Right Image -->
      <div class="image">
        <img src="{% static 'image/Mission.png'%}" alt="Delivery Person">
      </div>

    </div>
  </section>


  
<section class="industry-pioneer">
  <h2 class="section-title"><span></span>INDUSTRY PIONEER<span></span></h2>

  <div class="content">
    <div class="text-box">
      <p>
        Being among the first few entrants, Swiggy has successfully pioneered the hyperlocal commerce industry in India,
        launching Food Delivery in 2014 and Quick Commerce in 2020. Due to the pioneering status of Swiggy, it is
        well-recognised as a leader in innovation in hyperlocal commerce and as a brand synonymous with the categories
        it is present in.
      </p>
    </div>
    <div class="image-box">
      <img src="{% static 'image/Group.webp'%}" alt="Swiggy Delivery Guy">
    </div>
  </div>

  <div class="stats">
    <div class="stat">
      <h3>3 Billion+</h3>
      <p>orders delivered</p>
    </div>
    <div class="stat">
      <h3>220k+</h3>
      <p>restaurant partners</p>
    </div>
    <div class="stat">
      <h3>520k+</h3>
      <p>delivery partners</p>
    </div>
    <div class="stat">
      <h3>680+</h3>
      <p>cities in India</p>
    </div>
  </div>
</section>





<footer class="footer">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="{% static 'image/download.png'%}" alt="Swiggy Logo">
        <p>© 2025 Swiggy Limited</p>
      </div>
      <div class="footer-columns">
        <div class="footer-column">
          <h3>Company</h3>
          <ul>
            <li>About Us</li>
            <li>Investor Relations</li>
            <li>Careers</li>
            <li>Team</li>
            <li>Swiggy One</li>
            <li>Swiggy Instamart</li>
            <li>Swiggy Dineout</li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Contact us</h3>
          <ul>
            <li>Help & Support</li>
            <li>Partner with us</li>
            <li>Ride with us</li>
          </ul>
          <h3>Legal</h3>
          <ul>
            <li>Terms & Conditions</li>
            <li>Cookie Policy</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Available in:</h3>
          <ul>
            <li>Bangalore</li>
            <li>Gurgaon</li>
            <li>Hyderabad</li>
            <li>Delhi</li>
            <li>Mumbai</li>
            <li>Pune</li>
            <li><button class="city-btn">679 cities</button></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Life at Swiggy</h3>
          <ul>
            <li>Explore with Swiggy</li>
            <li>Swiggy News</li>
            <li>Snackables</li>
          </ul>
          <h3>Social Links</h3>
          <div class="social-icons">
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-x-twitter"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>For better experience, download the Swiggy app now</p>
      <div class="app-buttons">
        <img src="{% static 'image/appstorelogo.svg'%}" alt="App Store">
        <img src="{% static 'image/playstorelogo.webp'%}" alt="Google Play">
      </div>
    </div>
  </footer>



{% block content %}

{% endblock %}

</body>
</html>